main{
  height: 100vh;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
  color: #333; /* Adicionado para unificar estilo de texto */
}

nav a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #f4f4f4;
}

.manga-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.manga-card {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  width: auto;
  text-align: center;
  background-color: #fff; /* Adicionado para unificar estilo com main de style.css */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adicionado para unificar estilo com main de style.css */
}

.manga-card img {
  max-width: 100%;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.navMenu{
  display: flex;
  align-items: center;
  justify-content: center;
}

.divButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.botoesNavegar{
  background-color: transparent;
  color: white;
  border: 1px solid rgb(37, 37, 37);
}
.botoesNavegar:hover{
  background-color: rgb(84, 84, 84);
}


@media only screen and (max-width: 850px) {

  .navMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .alinhaTela{
    margin-top: 10px;
  }
}