body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
  color: #333; /* Adicionado para unificar estilo de texto */
}

nav a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #f4f4f4;
}

.manga-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.manga-card {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
  background-color: #fff; /* Adicionado para unificar estilo com main de style.css */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adicionado para unificar estilo com main de style.css */
}

.manga-card img {
  max-width: 100%;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}


