/* Exemplo de estilização CSS para os itens da lista de leitura */
.list-category {
    margin-bottom: 20px;
  }
  
  .list-category-header {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px; /* Espaço entre os itens */
    background-color: #f9f9f9;
  }
  
  .list-item-title {
    font-size: 1.2em;
    margin: 0;
  }
  
  .list-item-details {
    font-size: 0.9em;
    color: #555;
  }
  

  body {
    font-family: Arial, sans-serif;
}

.reading-list h2 {
    color: #333;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
    text-align: left;
}

td img {
    width: 50px; /* ou o tamanho que você preferir */
    height: auto;
}

/* Adicione mais estilos conforme necessário */


.status-div table {
  border-collapse: collapse; /* Remove as bordas entre células */
  width: 100%; /* Opcional: se quiser que a tabela ocupe toda a largura disponível */
}

.status-div th, .status-div td {
  border: none; /* Remove as bordas das células */
}


.status-div tr:hover {
  background-color: #f2f2f2; /* Cor de fundo quando o mouse está sobre uma linha */
}


.cover-img {
  display: block;
  margin: auto; /* Centraliza a imagem na célula */
  width: 100px; /* Ajuste a largura conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
}

.status-div td {
  vertical-align: middle; /* Alinha o conteúdo da célula verticalmente */
  text-align: left; /* Alinha o texto à esquerda */
}



.status-div thead th {
  background-color: #673ab7; /* Cor de fundo do cabeçalho */
  color: white; /* Cor do texto */
  text-align: left; /* Alinhamento do texto à esquerda */
  padding: 15px; /* Espaçamento interno */
}



.status-div table {
  width: 100%; /* Faz a tabela ocupar toda a largura disponível */
  table-layout: fixed; /* Faz com que as colunas tenham largura fixa */
}


.cover-img {
  display: block;
  max-width: 100px; /* Ajusta a largura máxima da imagem */
  height: auto; /* Mantém a proporção da imagem */
  margin: 0 auto; /* Centraliza a imagem na célula */
}

table {
  width: 100%; /* Ajuste para a tabela ocupar a largura toda */
}

.cover-column {
  width: 10%; /* Ajuste conforme necessário */
}

.name-column {
  width: 50%; /* Ajuste conforme necessário para dar mais espaço para o nome */
  word-wrap: break-word; /* Isso permite que o texto quebre e vá para a próxima linha */
}

.chapters-column,
.origin-column,
.format-column {
  width: 13.33%; /* Ajuste para as outras colunas */
}

tr:hover {
  background-color: #ececec; /* Cor de fundo ao passar o mouse por cima da linha */
}


.container {
  display: flex;
  flex-direction: row;
  
  margin-top: 20px;
  justify-content: space-between;
}

.filters-panel {
  flex: 1;
  margin-right: 20px;
}

.manga-list {
  flex: 3;
}

/* Estilos para os filtros */
#filter-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Esconda as linhas da tabela e aplique hover */
table {
  border-collapse: collapse;
  width: 100%;
}

table thead th {
  background-color: #f2f2f2;
}

table tr {
  border-bottom: 1px solid #ddd;
}

table tr:hover {
  background-color: #f2f2f2;
}

/* Ajuste para a célula da capa */
.cover-column {
  width: 100px; /* ou qualquer outra largura */
}


.filter-group {
  margin-bottom: 20px;
}

.filter-group h3 {
  margin-bottom: 10px;
}

.filter-group button,
.filter-group select {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
}


#genres-filter {
  min-height: 100px;
  overflow-y: auto;
}


.select2-container .select2-selection--single .select2-selection__rendered {
  color: #000; /* Cor do texto */
  line-height: 28px; /* Altura da linha ajustada conforme necessário */
}

.select2-container .select2-selection--single .select2-selection__clear {
  display: none; /* Esconde o botão de limpar seleção, se necessário */
}

/* Esconde o item vazio que aparece no dropdown */
#genres-filter option[value=""] {
  display: none;
}

/* Se o item acima não funcionar, tente esconder com CSS adicional */
.select2-container--default .select2-results__option[aria-disabled=true] {
  display: none;
}


.select2-container--default .select2-search--inline .select2-search__field {
  margin-top: 0px;
  padding: 0px;
  height: auto; /* Ou ajuste para a altura que você precisa */
}

.select2-container--default .select2-search--inline {
  background-color: transparent; /* Define a cor de fundo como transparente */
}


.image-container {
  position: relative;
  display: inline-block;
}

.update-button-container {
  margin-top: 10px;
  text-align: center;
}

.btn-update {
  width: 100%; /* O botão preenche toda a largura do contêiner */
}

.navMenu{
  display: flex;
  align-items: center;
  justify-content: center;
}

.divButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.botoesNavegar{
  background-color: transparent;
  color: white;
  border: 1px solid rgb(37, 37, 37);
}
.botoesNavegar:hover{
  background-color: rgb(84, 84, 84);
}

.center{
  display: flex;
  flex-direction: row;
  margin: 5%;
}


@media only screen and (max-width: 850px) {

  .navMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .alinhaTela{
    margin-top: 10px;
  }
  .container {
    flex-direction: column;
  }
}
