.inputLogin {
  display: flex;
  flex-direction: row;
  padding: 5px;
  border-radius: 5px;
  justify-content: space-between;
  
}

.divMae {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.divLogin {
  background-color: rgba(255, 255, 255, 0.9);
  height: 70%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.justLogin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  justify-content: center;
  align-items: center;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  padding: 10px;
}


.navMenu{
  display: flex;
  align-items: center;
  justify-content: center;
}

.divButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.botoesNavegar{
  background-color: transparent;
  color: white;
  border: 1px solid rgb(37, 37, 37);
}
.botoesNavegar:hover{
  background-color: rgb(84, 84, 84);
}


@media only screen and (max-width: 850px) {

  .navMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .alinhaTela{
    margin-top: 10px;
  }
}