  .manga-id {
    display: none;
}

.ajeita{
  height: 100vh;
}

.manga-genres {
    font-style: italic;
    color: #666; 
    display: flex;
    flex-direction: column;
}

.middleDivOn{
  background-color: #f0f0f0;
  border: 1px solid black;
  border-radius: 5px;
  margin: 1%;
  padding: 5px;
}

.middleDivOff{
  border-radius: 5px;
  margin: 1%;
  padding: 5px;
}

.results{
  margin: 1%;
}

.alinha{
  display: flex;
  flex-direction: column;
}

.middle{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navMenu{
  display: flex;
  align-items: center;
  justify-content: center;
}

.divButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.botoesNavegar{
  background-color: transparent;
  color: white;
  border: 1px solid rgb(37, 37, 37);
}
.botoesNavegar:hover{
  background-color: rgb(84, 84, 84);
}


@media only screen and (max-width: 850px) {

  .navMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .alinhaTela{
    margin-top: 10px;
  }
}