<!-- detalhes.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Detalhes do Manga</title>
  <link rel="stylesheet" type="text/css" href="style.css"> <!-- Se você quiser adicionar estilos personalizados -->
</head>
<body>
  <h1>Detalhes do Manga</h1>
  <div id="mangaDetails">
    <!-- As informações detalhadas do manga serão exibidas aqui -->
  </div>
  <script src="detalhes.js"></script> <!-- Adicione o arquivo JavaScript para buscar e exibir os detalhes do manga -->
</body>
</html>
