<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista De Leitura</title>
    <link rel="stylesheet" href="../public/CSS/unificado.css">
    <link rel="stylesheet" href="../public/CSS/listaDeLeitura.css">
    <link rel="stylesheet" href="../public/CSS/searchInput.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

</head>

<body>
    <header style="height: 100px;">

        <nav class="navMenu">
            <div class="col-sm-9 col-md-5 col-lg-2  divButtons">
                <a href="../views/inicio.html"><button class="botoesNavegar">Início</button></a>
                <a href="../views/login.html"><button class="botoesNavegar">Login</button></a>
                <a href="../views/usuario.html"><button class="botoesNavegar">Registro</button></a>
                <a href="../views/listaDeLeitura.html"><button class="botoesNavegar">Leituras</button></a>
            </div>

            <div class="col-sm-9 col-md-3 col-lg-3 alinhaTela">
                <form action="../views/search.html" method="GET" style="margin-left: 10px;">
                    <div class="search">
                        <div class="search-box">
                            <div class="search-field">
                                <input placeholder="Search..." id="searchInput" name="q" class="input" type="text">
                                <div class="search-box-icon">
                                    <button class="btn-icon-content">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </nav>

    </header>
    <header>
        <h2>Lista De Leitura</h2>
    </header>


    <div class="col-12 container">
        <div class="filters-panel">
            <h3>Filtros</h3>
            <input type="search" id="filter-input" placeholder="Nome do manga" oninput="applyFilters()">
            <div class="filter-group">
                <h3>Lista Por Status</h3>
                <select id="status-filter">
                </select>
            </div>
            <div class="filter-group">
                <h3>Formato</h3>
                <select id="format-filter" onchange="applyFilters()">
                    <option value="manga">Manga</option>
                    <option value="novel">Novel</option>
                    <option value="one_shot">ONE_SHOT</option>
                </select>
                <h3>Gênero</h3>
                <select id="genres-filter" onchange="applyFilters()" placeholder="Filter" style="display: none;"
                    multiple>
                </select>

                <h3>Origem</h3>
                <select id="country-filter" onchange="applyFilters()">
                    <option value="Japão">Japão</option>
                    <option value="Coreia do Sul">Coreia do Sul</option>
                    <option value="China">China</option>
                    <option value="Taiwan">Taiwan</option>
                </select>
            </div>
        </div>


        <section class="manga-list">
            <div id="status-container"></div>
            <div id="filter-buttons-container"></div>
        </section>
    </div>
    <div class="reading-list">
    </div>

    <!-- Modal -->
    <div class="modal fade" id="mangaModal" tabindex="-1" role="dialog" aria-labelledby="mangaModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document"> <!-- 'modal-lg' para uma modal mais larga -->
            <div class="modal-content">
                <div class="modal-header">
                    <img src="" id="modal-image" alt="Manga Cover" class="img-fluid">
                    <!-- 'img-fluid' para responsividade -->
                    <h5 class="modal-title custom-modal-title" id="modal-title">Nome do Manga</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row"> <!-- 'form-row' para agrupar os campos -->
                        <div class="col-md-6 form-group">
                            <!-- 'col-md-6' para ocupar metade da largura em telas médias para cima -->
                            <label for="status-manga">Status do Mangá:</label>
                            <select id="status-manga" class="form-control">
                                <!-- 'form-control' para estilização do Bootstrap -->
                                <option value="Lendo">Lendo</option>
                                <option value="Planejo Ler">Planejo Ler</option>
                                <option value="Completo">Completo</option>
                                <option value="Relendo">Relendo</option>
                                <option value="Pausado">Pausado</option>
                                <option value="Dropei">Dropei</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="progresso-capitulo">Progresso do Capítulo:</label>
                            <input type="number" id="progresso-capitulo" class="form-control" min="1"
                                placeholder="Capítulo atual" value="0">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <label for="data-inicio">Data de Início:</label>
                            <input type="date" id="data-inicio" class="form-control">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="data-conclusao">Data de Conclusão:</label>
                            <input type="date" id="data-conclusao" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="notas">Notas:</label>
                        <textarea id="notas" class="form-control" placeholder="Escreva suas notas aqui..."></textarea>
                    </div>
                    <div class="button-area">
                        <button type="button" id="botao-excluir" class="btn btn-danger" style="display:none;"
                            onclick="confirmDelete(globalUsuarioId, globalMangaId)">Excluir</button>

                        <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog"
                            aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteConfirmationModalLabel">Aviso</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Tem certeza de que deseja excluir esta entrada da sua lista de leitura?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cancelar</button>
                                        <button type="button" id="confirmDeleteButton" class="btn btn-danger"
                                            onclick="executeDelete()">OK</button>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button id="save-button" type="button" class="btn btn-primary"
                            onclick="addMangaToList()">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="successMessage" style="display: none;"></div>





    </div>

    <footer style="position: relative;">
        <p>&copy; 2023 SafeMangaRead. Todos os direitos reservados.</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script src="../src/checkLoginStatus.js"></script>
    <script src="../src/listaDeLeitura.js"></script>
</body>

</html>